@import "tailwindcss";


@layer base{
  html {
    scroll-behavior: smooth;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  body{
    font-family: "Poppins", sans-serif;
  }
}

@keyframes neonPulse {
  0%, 100% { box-shadow: 0 0 15px 5px rgba(34,197,94,0.7); }
  50% { box-shadow: 0 0 25px 10px rgba(34,197,94,1); }
}

.neon-glow {
  animation: neonPulse 2s infinite;
}

